<html>
    <head>
        <title>Word Repeat Counter</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>

    </head>
    <body>
        <div class = 'container'>
            <h1>Word Repeat Counter!</h1>
            <div class = 'form-group'>
                <form action = '/results'>
                    <label for = 'input_word'>Write the word you want to search for here</label>
                    <input type = 'text' id = 'input_word' name = 'input_word'><br>
                    <label for = 'input_string'>Write a sentence here</label>
                    <input type = 'text' id = 'input_string' name = 'input_string'>
                    <button type = 'submit' class = 'btn btn-primary'>Submit</button>
                </form>
            </div>
    </body>
</html>
