<html>
    <head>
        <title>Word Repeat Counter</title>
    </head>
    <body>
        <h2>Your word:</h2>
        <h3>{{ result }}</h3>

    <a href='/'>Enter another word</a>
    </body>
</html>
